# loc

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("C:\\Users\\Aman\\Downloads\\student_results.csv")

In [3]:
df

   Student ID  Class  study hrs  social med. Usage hrs  Percantege
0        1001     10          2                      3          50
1        1002     10          6                      2          80
2        1003     10          3                      2          60
3        1004     11          0                      1          45
4        1005     12          5                      2          75

In [4]:
df.loc[0] #for a systematic way we have to use [[]]

Student ID               1001
Class                      10
study hrs                   2
social med. Usage hrs       3
Percantege                 50
Name: 0, dtype: int64

In [10]:
df.loc[[4]]

   Student ID  Class  study hrs  social med. Usage hrs  Percantege
4        1005     12          5                      2          75

In [6]:
df.loc[[0,1]]

   Student ID  Class  study hrs  social med. Usage hrs  Percantege
0        1001     10          2                      3          50
1        1002     10          6                      2          80

In [7]:
df.loc[4,'Class']

12

In [8]:
df.loc[0:3,'Class'] #slice

0    10
1    10
2    10
3    11
Name: Class, dtype: int64

In [9]:
df.loc[[False,False,True,False,False]]

   Student ID  Class  study hrs  social med. Usage hrs  Percantege
2        1003     10          3                      2          60

# iloc

In [11]:
df.iloc[[0]]

   Student ID  Class  study hrs  social med. Usage hrs  Percantege
0        1001     10          2                      3          50

In [13]:
df.iloc[:,0]

0    1001
1    1002
2    1003
3    1004
4    1005
Name: Student ID, dtype: int64

In [14]:
df.iloc[[0,1]]

   Student ID  Class  study hrs  social med. Usage hrs  Percantege
0        1001     10          2                      3          50
1        1002     10          6                      2          80